---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import ProblemStatement from '../components/ProblemStatement.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import ComparisonTable from '../components/ComparisonTable.astro';
import Pricing from '../components/Pricing.astro';
import WaitlistForm from '../components/WaitlistForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navigation />
  <main>
    <Hero />
    <!-- <ProblemStatement /> -->
    <Features />
    <HowItWorks />
    <ComparisonTable />
    <Pricing />
    <WaitlistForm />
  </main>
  <Footer />
</Layout>
